### í•™ê³¼: IT ë¯¸ë””ì–´ ê³µí•™ê³¼ 
### í•™ë²ˆ: 20171101
### ì´ë¦„(ì˜ë¬¸ì´ë¦„): ë°•ê²½ì„ (gyeongseon park)

### > 1. ë¼ì´ë¸ŒëŸ¬ë¦¬ ì„¤ì¹˜
1.1 íŒë‹¤ìŠ¤, ë„˜íŒŒì´, ë§·í”Œë¡¯ë¦½ ë¼ì´ë¸ŒëŸ¬ë¦¬ ì„¤ì¹˜

In [2]:
# !ëŠ” jupyter notebookì—ì„œ OSëª…ë ¹ì„ ì‹¤í–‰ì‹œí‚´
!pip install pandas numpy matplotlib

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (1.2.4)
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (1.19.5)
Requirement already satisfied: matplotlib in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (3.4.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/gyeongseon/Library/Python/3.8/lib/python/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in /Users/gyeongseon/Library/Python/3.8/lib/python/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: pyparsing>=2.2.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib) (8.1.2)
WARNING: You are using pip version 21.1.1; however, version 21.2.4 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.8/bin/python3.8 -m pip install --upgrade pip' command.

### 2. íŒë‹¤ìŠ¤(pandas) ë¼ì´ë¸ŒëŸ¬ë¦¬ ì‚¬ìš©ë²•

2.1 íŒë‹¤ìŠ¤ ë¼ì´ë¸ŒëŸ¬ë¦¬ ë¶ˆëŸ¬ì˜¤ê¸°

In [3]:
# pandas libraryë¥¼ ì‹¤í–‰í™˜ê²½ìœ¼ë¡œ ë¶ˆëŸ¬ì˜¤ê¸° ìœ„í•´ ì„í¬íŠ¸ (import)ëª…ë ¹ì„ ì‚¬ìš©.
# import [library-name] as [library-alias] -> ì•½ì¹­ ì‚¬ìš©ì„ ì‚¬ìš©í•´ì„œ ì‚¬ìš©ì„± ë†’ì´ê¸°
import pandas as pd

2.2 ë”•ì…”ë„ˆë¦¬(dictionary)ë¥¼ ì‹œë¦¬ì¦ˆ(series)ë¡œ ë³€í™˜

In [4]:
# {key: value} êµ¬ì¡°ë¥¼ ê°–ëŠ” ë”•ì…”ë„ˆë¦¬ë¥¼ ë§Œë“¤ê³ , ë³€ìˆ˜ dict_dataì— ì €ì¥í•œë‹¤.
dict_data = {'a': 1, 'b': 2, 'c': 3}

# pandas Series() í•¨ìˆ˜ë¡œ ë”•ì…”ë„ˆë¦¬(dict_data)ë¥¼ ì‹œë¦¬ì¦ˆë¡œ ë³€í™˜í•œë‹¤.
# Series() í•¨ìˆ˜ê°€ ë°˜í™˜í•œ ì‹œë¦¬ì¦ˆ ê°ì²´ë¥¼ ë³€ìˆ˜ srì— ì €ì¥í•œë‹¤. 
# âœğŸ» srì€ Series ê°ì²´ ëª…ì˜ ì˜ë¯¸ë¥¼ ê°–ëŠ”ë‹¤.
sr = pd.Series(dict_data)

# ë³€ìˆ˜ sr ìë£Œí˜• ì¶œë ¥
print(type(sr))
print('\n')

# ë³€ìˆ˜
print(sr)

<class 'pandas.core.series.Series'>


a    1
b    2
c    3
dtype: int64

In [7]:
# python listëŠ” ì–´ë– í•œ ë°ì´í„°í˜„ë„ í¬í•¨í•  ìˆ˜ ìˆë‹¤.
list_data = ['2021-09-08', 3.14, 'ABC', 100, True]

# pandas Series() í•¨ìˆ˜ë¡œ ë¦¬ìŠ¤íŠ¸(list_data)ë¥¼ ì‹œë¦¬ì¦ˆë¡œ ë³€í™˜
# Series() í•¨ìˆ˜ê°€ ë°˜í™˜í•œ ì‹œë¦¬ì¦ˆ ê°ì²´ë¥¼ ë³€ìˆ˜ srì— ì €ì¥

# âœğŸ» pythonì—ì„œëŠ” ë¬¸ìì—´ë„ ê°ì²´ -> python íƒ€ì…ì€ ìˆ«ì ì•„ë‹˜ ê°ì²´
sr = pd.Series(list_data)
print(sr)

0    2021-09-08
1          3.14
2           ABC
3           100
4          True
dtype: object

In [8]:
# ì‹œë¦¬ì¦ˆ index ì†ì„±ì€ ì¸ë±ìŠ¤ ì •ë³´ë¥¼ ì œê³µ
# ì¸ë±ìŠ¤ ë²”ìœ„ (RangeIndex)ëŠ” 0ë¶€í„° ì‹œì‘í•˜ê³  ë§ˆì§€ë§‰ ì¸ë±ìŠ¤ê°’(stop)ì€ í¬í•¨ë˜ì§€ ì•ŠëŠ”ë‹¤.
print(sr.index)
print('\n')

# ì‹œë¦¬ì¦ˆì˜ values ì†ì„±ìœ¼ë¡œ ë°ì´í„° ë°°ì—´ì„ ë¶ˆëŸ¬ì˜¨ë‹¤.
print(sr.values)

RangeIndex(start=0, stop=5, step=1)


['2021-09-08' 3.14 'ABC' 100 True]

âœğŸ» ê²°ê³¼ê°’ì—ì„œ stopì— í•´ë‹¹í•˜ëŠ” ì¸ë±ìŠ¤ëŠ” í¬í•¨ ì•ˆëœë‹¤ëŠ” ì˜ë¯¸
```
RangeIndex(start=0, stop=5, step=1)
```

ë”°ë¼ì„œ í˜„ì¬ srì€ [0, 5)ì˜ ë²”ìœ„!

2.5 íŒŒì´ì¬ íŠœí”Œ(tuple)ì„ ì‹œë¦¬ì¦ˆ(series)ë¡œ ë³€í™˜

- [list]ëŠ” mutable(ê°€ë³€)ìœ¼ë¡œ ë°ì´í„°ë¥¼ ë³€ê²½í•  ìˆ˜ ìˆë‹¤.
- (tuple)ì€ immutable(ë¶ˆë³€)ìœ¼ë¡œ ë°ì´í„°ë¥¼ ë³€ê²½í•  ìˆ˜ ì—†ë‹¤.

In [9]:
# íŠœí”Œì„ ë³€ìˆ˜ tup_dataì— ì €ì¥í•œë‹¤.
tup_data = ('ì˜ì¸', '2021-09-08', 'ì—¬', True)

# Series() í•¨ìˆ˜ë¡œ íŠœí”Œ(tup_data)ë¥¼ ì‹œë¦¬ì¦ˆë¡œ ë³€í™˜
# index optionì— ì¸ë±ìŠ¤ ì´ë¦„ì„ ì§€ì •í•œë‹¤.
sr = pd.Series(tup_data, index=['ì´ë¦„', 'ìƒë…„ì›”ì¼', 'ì„±ë³„', 'í•™ìƒì—¬ë¶€'])
print(sr)

ì´ë¦„              ì˜ì¸
ìƒë…„ì›”ì¼    2021-09-08
ì„±ë³„               ì—¬
í•™ìƒì—¬ë¶€          True
dtype: object

2.6 ì‹œë¦¬ì¦ˆ ì›ì†Œ ì„ íƒí•˜ê¸°

In [9]:
# ì›ì†Œë¥¼ 1ê°œ ì„ íƒ
print(sr[0])          # ì •ìˆ˜í˜• ìœ„ì¹˜ ì¸ë±ìŠ¤ë¥¼ í™œìš©
print(sr['ì´ë¦„'])      # ì¸ë±ìŠ¤ ì´ë¦„ì„ í™œìš©

ì˜ì¸
ì˜ì¸

In [10]:
# ì—¬ëŸ¬ ê°œì˜ ì›ì†Œë¥¼ ì„ íƒ (ì¸ë±ìŠ¤ ë¦¬ìŠ¤íŠ¸ í™œìš©)
print(sr[[1,2]])
print('\n')
print(sr[['ìƒë…„ì›”ì¼', 'ì„±ë³„']])

ìƒë…„ì›”ì¼    2021-09-08
ì„±ë³„               ì—¬
dtype: object


ìƒë…„ì›”ì¼    2021-09-08
ì„±ë³„               ì—¬
dtype: object

In [ ]:
# ì—¬ëŸ¬ ê°œì˜ ì›ì†Œë¥¼ ì„ íƒ (ì¸ë±ìŠ¤ ë²”ìœ„ ì§€ì •)
# ì •ìˆ˜í˜• ì¸ë±ìŠ¤ ë²”ìœ„ì˜ ë§ˆì§€ë§‰ ê°’ì€ í¬í•¨ë˜ì§€ ì•ŠëŠ”ë‹¤.
print(sr[1,2])
print('\n')

# ì¸ë±ìŠ¤ ì´ë¦„ì„ ì‚¬ìš©í•  ë•Œì—ëŠ” ë§ˆì§€ë§‰ ê°’ì´ í¬í•¨ëœë‹¤.
print(sr[['ìƒë…„ì›”ì¼', 'ì„±ë³„']])

ìƒë…„ì›”ì¼    2021-09-08
ì„±ë³„               ì—¬
dtype: object


ìƒë…„ì›”ì¼    2021-09-08
ì„±ë³„               ì—¬
dtype: object

2.7 ë”•ì…”ë„ˆë¦¬(dictionary)ë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë³€í™˜

In [11]:
# ì—´ ì´ë¦„ì„ keyë¡œ í•˜ê³ , ë¦¬ìŠ¤íŠ¸ë¥¼ valueë¡œ ê°–ëŠ” dictionaryë¥¼ ì •ì˜
dict_data = {'c0': [1,2,3], 'c1': [4,5,6], 'c2':[7,8,9], 'c3': [10,11,12], 'c4': [13, 14, 15]}

# íŒë‹¤ìŠ¤ DataFrame() í•¨ìˆ˜ë¡œ ë”•ì…”ë„ˆë¦¬ë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë³€í™˜í•œë‹¤.
# DataFrame() í•¨ìˆ˜ê°€ ë°˜í™˜í•œ ë°ì´í„°í”„ë ˆì„ ê°ì²´ë¥¼ ë³€ìˆ˜ dfì— ì €ì¥í•œë‹¤.
# âœğŸ» dfëŠ” dataframeê°ì²´ì´ë‹¤.
df = pd.DataFrame(dict_data)

# dfì˜ ìë£Œí˜• ì¶œë ¥
print(type(df))
print('\n')

# ë³€ìˆ˜ dfì— ì €ì¥ë˜ì–´ ìˆëŠ” ë°ì´í„°í”„ë ˆì„ ê°ì²´ë¥¼ ì¶œë ¥
print(df)

<class 'pandas.core.frame.DataFrame'>


   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

2.8 ì—¬ëŸ¬ ê°œì˜ listë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë³€í™˜

In [12]:
# ë¨¼ì € ê°œìˆ˜ê°€ ê°™ì€ 3ê°œì˜ ë¦¬ìŠ¤íŠ¸ë¥¼ ìƒì„±í•œë‹¤.
names=['Bob','Jessica','Mary','John','Mel']
births = [123,254,32,235,243]
custom = [1,5,3,4,654,23]

# zip()ëŠ” ê¸¸ì´ê°€ ê°™ì€ ë¦¬ìŠ¤íŠ¸ ë“±ì˜ ìš”ì†Œë¥¼ ë¬¶ì–´ì¤€ë‹¤.
# list()ëŠ” ë¦¬ìŠ¤íŠ¸ ìë£Œí˜•ìœ¼ë¡œ ë³€í™˜í•´ì¤€ë‹¤.
BabyDataSet = list(zip(names, births))

# pd.DataFrame(data=BabyDataSet, columns=ì»¬ëŸ¼ëª…)ìœ¼ë¡œ ë°ì´í„°í”„ë ˆì„ì´ ìƒì„±ëœë‹¤.
df = pd.DataFrame(data=BabyDataSet, columns=['Names', 'Births'])

# ë°ì´í„°ê°€ ë§ì„ ë•Œ: ë°ì´í„°í”„ë ˆì„ì˜ ìƒìœ„ 5ê°œì˜ í–‰ì„ ì¶œë ¥ 
df.head()

     Names  Births
0      Bob     123
1  Jessica     254
2     Mary      32
3     John     235
4      Mel     243

2.9 ë°ì´í„°í”„ë ˆì„ì˜ ê¸°ë³¸ ì •ë³´ ì¶œë ¥í•˜ê¸°

In [13]:
# ë°ì´í„°í”„ë ˆì„ì˜ íƒ€ì…(type) ì •ë³´ --> ë°ì´í„° íƒ€ì…ì„ ì•Œ ìˆ˜ ìˆë‹¤.
print(df.dtypes)
print("--------------")

# ë°ì´í„°í”„ë ˆì„ì˜ index ì •ë³´ --> í–‰ì˜ ìˆ˜ë¥¼ ì•Œ ìˆ˜ ìˆë‹¤.
print(df.index)
print("--------------")

# ë°ì´í„°í”„ë ˆì„ì˜ ì—´ì˜ ì •ë³´ --> ì»¬ëŸ¼ëª…ì„ ì•Œ ìˆ˜ ìˆë‹¤.
print(df.columns)
print("--------------")
print(df.values)

Names     object
Births     int64
dtype: object
--------------
RangeIndex(start=0, stop=5, step=1)
--------------
Index(['Names', 'Births'], dtype='object')
--------------
[['Bob' 123]
 ['Jessica' 254]
 ['Mary' 32]
 ['John' 235]
 ['Mel' 243]]

2.10 ë°ì´í„°í”„ë ˆì„ì˜ íŠ¹ì • í–‰ê³¼ ì—´ ì„ íƒí•˜ê¸°

In [14]:
# ë°ì´í„°í”„ë ˆì„ì—ì„œ í•˜ë‚˜ì˜ ì—´ì„ ì„ íƒí•œë‹¤.
df['Names']

0        Bob
1    Jessica
2       Mary
3       John
4        Mel
Name: Names, dtype: object

2.11 ë°ì´í„°í”„ë ˆì„ì˜ ì¸ë±ìŠ¤ ì„ íƒí•˜ê¸°

In [15]:
# ë°ì´í„°í”„ë ˆì„ì˜ íŠ¹ì • í–‰(ì¸ë±ìŠ¤)ì„ ì„ íƒí•œë‹¤.
# df[start:stop] start indexëŠ” 0ë¶€í„° ì‹œì‘, (stop index -1) ê¹Œì§€ í–‰ì´ ì„ íƒëœë‹¤.
df[0:3]

     Names  Births
0      Bob     123
1  Jessica     254
2     Mary      32

2.12 ë°ì´í„°í”„ë ˆì„ì˜ í•„í„°ë§ ê¸°ëŠ¥

In [16]:
# Births ì—´ì—ì„œ 100ë³´ë‹¤ í° ë°ì´í„°ë¥¼ í•„í„°ë§í•œë‹¤.
df[df['Births'] > 100]

     Names  Births
0      Bob     123
1  Jessica     254
3     John     235
4      Mel     243

2.13 í‰ê· ê°’ì„ êµ¬í•˜ëŠ” ê¸°ëŠ¥

In [17]:
# mean()ëŠ” ê° ì—´ì˜ ë°ì´í„°íƒ€ì…ì„ ì²´í¬í•œ ë’¤, ìˆ˜ì¹˜í˜• ë°ì´í„°ì— ëŒ€í•´ í‰ê· ì„ êµ¬í•œë‹¤.
df.mean()

Births    177.4
dtype: float64